name: Python Tests


on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      
      - name: 1. Checkout do Código
        uses: actions/checkout@v4

      
      - name: 2. Configurar Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      
      - name: 3. Instalar Dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requisitos.txt
          pip install pytest flake8

      
      - name: 4. Rodar Testes Automatizados (Pytest)
        run: |
          pytest testes/ --maxfail=1 --disable-warnings -q

      
      - name: 5. Validar Qualidade do Código (Flake8)
        run: |
          flake8 src/ testes/ --count --max-complexity=10 --max-line-length=127 --exit-zero
